/* wrapper */
.wrapper {
	display:block;
	position:relative;
	width:100%;
	height: auto;
@media (min-width: 1360px) and (max-width: 1919px) {}
@media (min-width: 768px) and (max-width: 1359px) {
	min-width:760px;
	width:100%;
}
@media (min-width: 320px) and (max-width: 767px){
	min-width:318px;
	max-width: 760px;
	width:100%;
}	

	}


