#horizontal-slider{
.slick-slider{
	height:626px;
	width:100%;
	font-family: $font-family-main;
	background-color:#a5a5a5;
@media (min-width: 1360px) and (max-width: 1919px) {}
@media (min-width: 768px) and (max-width: 1359px) {
	min-width:760px;
	width:100%;
}
@media (min-width: 320px) and (max-width: 767px){
	min-width:420px;
	max-width: 760px;
	width:100%;
}	
}	
.slick-dots{
	text-align: center;
	list-style: disc;
	list-style-type: disc;
	padding:50px 0;		
li{
	display:inline-block;
	padding:68px 10px;
	&.slick-active{
		button{
		background-color:#1abc9c;
	}
	}
@media (min-width: 768px) and (max-width: 1359px){
	padding:30px 10px;
}	
@media (min-width: 320px) and (max-width: 767px){
	padding:10px;
}	
}		
button{
	height:11px;
	width:11px;
	background-color:#000;
	border:none;
	text-indent: -9999px;
	border-radius:50%;	
	border:none;
	&:hover{
		background-color:#1abc9c;
	}
}	
}
.img{
    display:block;
img{
	&:first-child{
		width:auto;
	    margin:0 auto;
	    padding:100px 0 20px 0;
	}
	&:nth-child(2){
		width:auto;
	    margin:0 auto;
	    padding:20px 0;
	}
}
}
.text-slider{
	text-align: center;
	font-size: 1em;
	color:#ffffff;

p{
	padding:20px 0;
	width:50%;
	margin:0 auto;
	line-height: 30px;
@media (min-width: 320px) and (max-width: 767px){
	width:80%;
	margin:0 auto;
}	
}
span{
	padding:20px 0;
	display:block;
img{
	width:auto;
    margin:0 auto;
    display:inline-block;
}	
}	
}
}

#horizontal-slider{
	height:186px;
	background-color:#f9f9f9;
	display:flex;
	justify-content: space-between;
h3{
	color:#55ccb5;
	font-size:1.68em;
	font-weight:400;
	font-family: $font-family-main;
	display:inline-block;
	width:20%;
	padding:50px;
@media (min-width: 768px) and (max-width: 1359px){
	padding:50px 0;
	width:30%;
}
@media (min-width: 320px) and (max-width: 767px){
    font-size:1.5em;
    width:50%;
    padding:50px 30px;
}	
}	
.slider3{
	height:186px;
	background-color:#f9f9f9;
	width:80%;
li{
	text-align:center;
	padding:50px 0px;
	width:20%;
@media (min-width: 320px) and (max-width: 767px){
	width:50%;
}	
img{
	display:inline-block;
}	
}
}
}	

