.layout{
	width: $width-layout;
	margin: 0 auto;
	font-family: $font-family-main;
@media (min-width: 1360px) and (max-width: 1919px) {
	
}
@media (min-width: 768px) and (max-width: 1359px) {
	min-width: 760px;
	width:100%;
	margin:0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
	min-width: 320px;
	width:100%;
}
.tabs_box{
	@include main_layout;	
ul {
    display:flex;
    justify-content: center;
	list-style:none;
	padding: 50px 10px;	

li{
	box-shadow: 2px 2px 5px 2px rgba(235,235,235,0.91);
	text-align: center;
	align-items: middle;
	text-transform: uppercase;
	border:1px solid transparent;
	border-radius:4px;
	&:hover{
        background-color:#1abc9c;
    }		
a{
    font-size: 1em;
	color:#777777;
	padding: 20px 40px;
	display:block;
@media (min-width: 320px) and (max-width: 767px){
	padding:14px 10px;
}	
}	
}	
}	
}
.tab-content{
	overflow: hidden;
	position: relative;
	padding:56px 0;	
@media (min-width: 768px) and (max-width: 1359px){
	padding:30px 0;
}	
.t1{
	display:inline-block;
	width:100%;
img{
	float:left;
	padding: 0 80px 74px 8px;
@media (min-width: 768px) and (max-width: 1359px) {
	float:none;
	display:block;
	margin:0 auto;
	width:64%;
}
@media (min-width: 320px) and (max-width: 767px){
	float:none;
	display:block;
	margin:0 auto;
	width:80%;
}	
}
.text-block{
    float:right;
    width:41.2%;
@media (min-width: 768px) and (max-width: 1359px) {
	float:none;
	width:98%;
	text-align: center;
}	
@media (min-width: 320px) and (max-width: 767px){
	float:none;
	width:98%;
	text-align: center;
}
h3{
    width:80%;
    padding:16px 0;
	font-size:1.68em;
	color: #4c4c4c;
	font-weight: 400;
@media (min-width: 768px) and (max-width: 1359px){
	text-align: center;
}		
}
p{
	padding:16px 0;
	color:#939598;
	font-size:1em;
	line-height: 20px;
@media (min-width: 768px) and (max-width: 1359px){
	padding:16px 10px;
}	
}
}	
}	
.t2{
	display:none;
h3{
    width:100%;
    text-align:center;
    padding:16px 0;
	font-size:1.68em;
	color: #4c4c4c;
	font-weight: 400;	
}
p{
	padding:16px 8px;
	color:#939598;
	font-size:1em;
	line-height: 20px;
}	
}
.t3{
	display:none;
img{
	width:65%;
	display:block;
	margin:0 auto;
@media (min-width: 320px) and (max-width: 767px){
	width:80%;
	display:block;
	margin:0 auto;
}	
}	
}
}
}