.try{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    align-items: center;
    position:relative;
    background-color: #1abc9c;
    .everything{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    @media (max-width: 1023px){
        flex-direction: column;
        justify-content: center;
        }
        .text{
        		  display: flex;
        		  margin-right: auto;
              flex-direction: column;
              flex-wrap: wrap;
              padding: 46px 0;
        @media (max-width: 1023px){
              margin-right: 0;
              justify-content: center;
              align-items: center;
              }
              h2{
                  @include h2-footer;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  b{
                      white-space: pre;
                      }
                  }    
        		  p{
            			@include h2-footer;
                  display: flex;
                  font-size: 14px;
                  }
        }
        .but{
            display: block;
            border: 1px solid #fff;
            padding: 18px 40px;
            text-align: center;
            margin-right: 72px;
            color: #fff;
            font-family: "Ubuntu";
            font-size: 16px;
            font-weight: 300;
        @media (max-width: 1023px){
            margin: 0px 0px 50px 0px;            
            }           
        }
    }
}
	